# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.tlog
# Precompiled Headers
*.gch
*.pch
*.log
*.pdb
*.tlog
*.idb
*.ilk
# Compiled Dynamic libraries
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la

# Executables
*.out
*.app

# virtual studio temp files
*.suo
*.pdf
*.sdf
*.opensdf
*.filters
*.user
*.mk
*~
